body {
    height: 100vh;
}

@media print { 
    body {
       height: 90%; 
       max-width: 1048px; 
    } 
}

img {
    width: 20px;
    display: none;

}

header {
    display: none;
}

.about {
    background-image: none;
}

.team .img-background {
    background-image: none;
}

.team-items {
    display: flex;
    gap: 5rem;
}

.contact {
    padding: 0;
}